<div class="income-categories">
    <div class="content-header mb-4-5">
        <h1 class="title">Доходы</h1>
    </div>
    <section class="content">
        <div class="row categories-grid">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card categories-card">
                    <div class="card-body p-0">
                        <h4 class="card-title">Депозиты</h4>
                        <div class="d-flex">
                            <a href="/income/edit" class="btn btn-primary btn-custom">Редактировать</a>
                            <button class="btn btn-danger btn-custom" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">Удалить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card categories-card">
                    <div class="card-body p-0">
                        <h4 class="card-title">Зарплата</h4>
                        <div class="d-flex">
                            <a href="/income/edit" class="btn btn-primary btn-custom">Редактировать</a>
                            <button class="btn btn-danger btn-custom" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">Удалить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card categories-card">
                    <div class="card-body p-0">
                        <h4 class="card-title">Сбережения</h4>
                        <div class="d-flex">
                            <a href="/income/edit" class="btn btn-primary btn-custom">Редактировать</a>
                            <button class="btn btn-danger btn-custom" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">Удалить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card categories-card">
                    <div class="card-body p-0">
                        <h4 class="card-title">Инвестиции</h4>
                        <div class="d-flex">
                            <a href="/income/edit" class="btn btn-primary btn-custom">Редактировать</a>
                            <button class="btn btn-danger btn-custom" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">Удалить
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="card categories-card border d-flex align-items-center justify-content-center">
                <a href="/income/create"
                   class="categories-card__add-link text-secondary">
                    <i class="bi bi-plus-lg category-card__icon"></i>
                </a>
                </div>
            </div>
        </div>
    </section>
</div>