<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="login-box">
        <div class="login-logo text-center mb-6">
            <img src="/images/Logo.png" alt="Lumincoin Logo"/>
        </div>

        <h5 class="text-center auth-title mb-3-5">Создайте аккаунт</h5>
        <div id="common-error" class="error invalid-feedback text-center mb-3">Не удалось зарегистрировать пользователя.
            Обратитесь в поддержку
        </div>
        <form>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person text-muted"></i></span>
                <input type="text" class="form-control rounded-end" placeholder="Имя" id="name">
                <span id="name-error" class="error invalid-feedback">Введите корректное имя</span>
            </div>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person text-muted"></i></span>
                <input type="text" class="form-control rounded-end" placeholder="Фамилия" id="last-name">
                <span id="surname-error" class="error invalid-feedback">Введите корректную фамилию</span>
            </div>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-envelope-open text-muted"></i></span>
                <input type="email" class="form-control rounded-end" placeholder="Электронная почта" id="email">
                <span id="email-error" class="error invalid-feedback">Введите корректный E-mail</span>
            </div>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-lock text-muted"></i></span>
                <input type="password" class="form-control  rounded-end" placeholder="Пароль" id="password">
                <span id="password-error" class="error invalid-feedback">Пароль</span>
            </div>
            <div class="input-group mb-3-5">
                <span class="input-group-text"><i class="bi bi-lock text-muted"></i></span>
                <input type="password" class="form-control  rounded-end" placeholder="Подтверждение пароля"
                       id="password-repeat">
                <span id="password-repeat-error" class="error invalid-feedback">Пароль и повторение пароля</span>
            </div>
            <div class="mb-2-5">
                    <button type="button" class="btn btn-primary btn-block btn-auth  w-100" id="process-button">
                        Зарегистрироваться
                    </button>
            </div>
            <p class="link text-center"> Уже есть аккаунт?<a href="/login">
                Войдите в систему
            </a></p>
        </form>
    </div>


</div>
